{% extends "wms/base.html" %}
{% load static from staticfiles %}

{% block header %}
<style>
    table { table-layout: fixed; }
    table th, table td { overflow: hidden; }
    hr { margin-top: 10px; margin-bottom: 10px; }
</style>
{% endblock %}


{% block menu_items %}
    {% if user.is_authenticated %}
    <li><a data-toggle="collapse" href="#addDataset" aria-expanded="false" aria-controls="addDataset"><span style="color: green" class="glyphicon glyphicon-plus"></span> add dataset</a></li>
    {% endif %}
{% endblock %}


{% block content %}

    <div id="dataset-messages">
    </div>

    {% if user.is_authenticated %}
      <div class="collapse" id="addDataset">
        <div class="panel panel-default">
          <div class="panel-body">
            <form id="datasetForm" class="form-inline" action="{% url 'add-dataset' %}">
              {% csrf_token %}
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name" id="name" placeholder="Name">
              </div>
              <div class="form-group">
                <label for="uri">Dataset URI (file glob or DAP)</label>
                <input type="text" class="form-control" name="uri" id="uri" placeholder="URI">
              </div>
              <label for="datasetSubmit">&nbsp;</label>
              <button type="button" name="datasetSubmit" id="datasetSubmit" class="btn btn-default">add</button>
            </form>
          </div>
        </div>
      </div>
    {% endif %}

    {% if unidentified_datasets %}

      <table class="table table-bordered table-striped table-hover" style="margin-top: 30px;">
        <h2>Pending</h3>
        <thead>
            <tr>
                <th style="width: 100px">Name</th>
                <th style="width: 100px">URI</th>
                <th style="width: 100px">Status</th>
                <th style="width: 350px">Messages</th>
                <th style="width: 100px">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for unid in unidentified_datasets %}
                <tr>
                    <td>{{ unid.name }}</td>
                    <td>
                        {% if unid.online %}
                            <a href="{{ unid.uri }}.html"><span class="glyphicon glyphicon-new-window"></span> DAP</a>
                        {% else %}
                            <abbr title="{{unid.uri}}"><span class="glyphicon glyphicon-new-window"></span> Local file(s)</abbr>
                        {% endif %}
                    </td>
                    <td>{{ unid.status }}</td>
                    <td>{{ unid.messages }}</td>
                    <td>
                        {% if user.is_authenticated %}
                        <!-- Update -->
                        <a href="{% url 'add-dataset' %}" data-name="{{ unid.name }}" data-uri="{{ unid.uri }}" data-del="{% url 'unid-detail' unid.pk %}">
                            <button type="button" class="addButton btn btn-default btn-xs">
                                <span class="glyphicon glyphicon-refresh"></span> Try again
                            </button>
                        </a>
                        <!-- Delete -->
                        <a href="{% url 'unid-detail' unid.pk %}" data-pk="{{ unid.pk }}">
                            <button type="button" class="deleteButton btn btn-default btn-xs">
                                <span class="glyphicon glyphicon-trash"></span> Delete
                            </button>
                        </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    {% endif %}

    {% if datasets %}

        <table class="table table-bordered table-striped table-hover" style="margin-top: 30px;">
          <h2>Available</h2>
            <thead>
                <tr>
                    <th style="width: 200px">Description</th>
                    <th style="width: 150px">URI</th>
                    <th style="width: 300px">Cache</th>
                    <th style="width: 100px">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for dataset in datasets %}
                <tr>
                    <td>
                        <div>
                            <strong><a href="{% url 'show_dataset' dataset.slug %}">{{ dataset.name | truncatechars:28 }}</a></strong>
                            <span class="label label-default">{{ dataset.humanize }}</span>
                        </div>
                        <span>{{ dataset.title }}</span>
                        <hr />
                        <span>{{ dataset.abstract }}</span>
                    </td>

                    <td>
                        {% if dataset.online %}
                            <a href="{{ dataset.uri }}.html"><span class="glyphicon glyphicon-new-window"></span> Data (DAP)</a>
                        {% else %}
                            <abbr title="{{dataset.uri}}"><span class="glyphicon glyphicon-new-window"></span> Data (Local file)</abbr>
                        {% endif %}
                    </td>

                    <td>
                        <span>Status: {{ dataset.status }}</span>
                        {% if dataset.cache_last_updated %}
                            <span class="row">Updated: <abbr title="{{ dataset.cache_last_updated }}">{{ dataset.cache_last_updated | timesince }} ago</span>
                        {% else %}
                            <span class="row">Updated: never</span>
                        {% endif %}

                        <span class='row'>
                            {% if dataset.keep_up_to_date %}
                                <span style="color: green" class="glyphicon glyphicon-ok"></span> <span>Keep up to date every {{ dataset.update_every }} seconds</span>
                            {% else %}
                                <span style="color: red" class="glyphicon glyphicon-remove"></span> <span>Keep up to date</span>
                            {% endif %}
                        </span>
                    </td>

                    <td>
                        <a href="{% url 'dataset' dataset.slug %}?REQUEST=GetCapabilities" target="_blank">
                            <button type="button" class="btn btn-default btn-xs">
                                <span class="glyphicon glyphicon-new-window"></span> GetCapabilities
                            </button>
                        </a>
                        <hr />
                        {% if user.is_authenticated %}
                        <!-- Update -->
                        <a href="{% url 'update_dataset' dataset.slug %}" data-slug="{{ dataset.slug }}">
                            <button type="button" class="updateButton btn btn-default btn-xs">
                                <span class="glyphicon glyphicon-refresh"></span> Update cache
                            </button>
                        </a>
                        <!-- Delete -->
                        <a href="{% url 'dataset-detail' dataset.pk %}">
                            <button type="button" class="deleteButton btn btn-default btn-xs">
                                <span class="glyphicon glyphicon-trash"></span> Delete
                            </button>
                        </a>
                        {% endif %}
                        <div id="messages_{{ dataset.slug }}"></div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <script>
    {% if user.is_authenticated %}
    $("#datasetSubmit").click(function() {

        but = $(this)
        but.attr("disabled", "disabled");

        var posting = $.ajax({
                                type: "POST",
                                url: $("#datasetForm").attr("action"),
                                data: $("#datasetForm").serialize(),
                                success: function(data) {
                                    // We get the Dataset back... we could prepend to the table?
                                    but.attr("disabled", false);
                                    location.reload();
                                },
                                dataType: "text"
                            }).fail(function(data) {
                                $("#dataset-messages").hide().html('<div class="alert alert-danger">' + data.responseText + '</div>').fadeIn();
                                but.attr("disabled", false);
                            });
    });

    $(".deleteButton").click(function(event) {
        event.preventDefault();

        a_tag = $(this).parent();

        var posting = $.ajax({
                                type: "DELETE",
                                beforeSend: function(xhr) {
                                    xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
                                },
                                url: a_tag.attr("href"),
                                success: function(data) {
                                    a_tag.parent().parent().remove();
                                    $("#dataset-messages").hide().html('<div class="alert alert-success">Dataset deleted</div>').fadeIn();
                                }
                            }).fail(function(data) {
                                $("#dataset-messages").hide().html('<div class="alert alert-danger">' + data.responseText + '</div>').fadeIn();
                            });
    });

    $(".updateButton").click(function(event) {
        event.preventDefault();

        a_tag = $(this).parent();

        var posting = $.ajax({
                                type: "GET",
                                url: a_tag.attr("href"),
                                success: function(data) {
                                    $("#messages_" + a_tag.data('slug')).hide().html('<div class="alert alert-success">' + data.message + '</div>').fadeIn();
                                }
                            }).fail(function(data) {
                                $("#messages_" + a_tag.data('slug')).hide().html('<div class="alert alert-danger">Failed. Check logs!</div>').fadeIn();
                            });
    });

    $(".addButton").click(function(event) {
        event.preventDefault();

        a_tag = $(this).parent();

        $.ajax({
            type: "DELETE",
            beforeSend: function(xhr) {
                xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
            },
            url: a_tag.data('del'),
            success: function(data) {
                a_tag.parent().parent().remove();
                $.ajax({
                    type: "POST",
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
                    },
                    data: {
                      name: a_tag.data('name'),
                      uri: a_tag.data('uri')
                    },
                    url: a_tag.attr("href"),
                    success: function(data) {
                        $("#dataset-messages").hide().html('<div class="alert alert-success">Dataset added, refresh to update</div>').fadeIn();
                    }
                }).fail(function(data) {
                    $("#messages_" + a_tag.data('slug')).hide().html('<div class="alert alert-danger">Failed. Check logs!</div>').fadeIn();
                });
            }
        }).fail(function(data) {
            $("#dataset-messages").hide().html('<div class="alert alert-danger">' + data.responseText + '</div>').fadeIn();
        });
    });

    {% endif %}
    </script>

{% endblock %}
