*.ipynb
*.log
*.pyc
*~
.envrc
COPYING
docker-compose.yml
Dockerfile
pytest.ini
README.md

.git/
.ipynb_checkpoints/
.pytest_cache/
docs/
logs/
sciwms/db/

wms/resources/
wms/tests/
wms/topology/
wmsrest/tests/
