cmocean>=1.2.0
cython
dj-static==0.0.6
django-autoslug>=1.9.4
django-grappelli
django-typed-models
django>=2.1,<2.2
djangorestframework
huey
isodate
jsonfield
matplotlib>2.0,<3.0
netCDF4>=1.4.0
numpy
pandas
pyaxiom
pyproj
pysgrid
python-dateutil
pytz
pyugrid
rtree
utide
