dj-static==0.0.6
django-autoslug
django-grappelli
django-typed-models
Django>=1.10,<2.0
djangorestframework
jsonfield
numpy
python-dateutil
matplotlib==1.4.3
netCDF4>=1.0.2
rtree==0.8.2
pytz
pyugrid
pysgrid>=0.1.0
pyaxiom>=0.0.9
pyproj
pandas
isodate
utide
