<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
<style type="text/css">
    p {
    background-color:#6495ed;
    padding: 0px;
    }
    li {
    padding: 10px;
    background-color:#b0c4de;
    margin-top:-12px;
    margin-bottom:0px;
    margin-right:0px;
    margin-left:0px;
    }
    he {
    text-decoration:underline;
    font-size:20px;
    padding: 20px;
    line-height: 150%;
    margin-top:-12px;
    margin-bottom:0px;
    margin-right:0px;
    margin-left:0px;
    }
    li.foot {
    margin-top:0px;
    }
</style>
    <title>{% block title %}Sci-wms: A Python WMS service for geospatial gridded data{% endblock %}</title>
</head>

<body>

    <h1>Sci-wms: A Python WMS service for geospatial gridded data</h1>
    {% for dataset in datasets %}
        <p>
        <he><b>{{dataset.name}}</b><he>
        <li>URI: <a href="{{dataset.uri}}.html">{{dataset.uri}}</a> </li>
        <li>Update?: {{dataset.keep_up_to_date}} </li>
        </p>
    {% endfor %}
    
    <li class="foot">
    <a href="admin">To add or remove datasets, use the admin interface</a>
    </li>
    <li class="foot">
    <a href="wmstest">Test the services with the test page</a>
    </li>
    </li>
    <li class="foot">
    <a href="doc">Documentation can be found here</a>
    </li>
    

</body>
</html>
