<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <title>Sci-wms: A Python WMS service for geospatial gridded data</title>
    {% load static from staticfiles %}
    <link rel="shortcut icon" href="{% static 'common/favicon.ico' %}" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h1>sci-wms <small>A Python WMS service for geospatial gridded data</small></h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <ul class="nav nav-pills">
                <li><a href="{% url 'documentation' %}">Documentation</a></li>
                    <li><a href="{% url 'simpleclient' %}">Client</a></li>
                    <li><a href="{% url 'leafletclient' %}">Client (beta)</a></li>
                    <li><a href="/admin">Admin</a></li>
                </ul>
            </div>
        </div>

        <hr />

        {% if datasets %}

            {% for dataset in datasets %}
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><a href="{% url 'dataset' dataset.name %}?REQUEST=GetCapabilities">{{ dataset.name }} - {{ dataset.title }}</a></h3>
                        </div>
                        <div class="panel-body">
                            {{ dataset.abstract }}
                        </div>

                        <ul class="list-group">
                            {% if dataset.online %}
                                <li class="list-group-item">URI: <a href="{{ dataset.uri }}.html">{{ dataset.uri }}</a> </li>
                            {% else %}
                                <li class="list-group-item">URI: {{ dataset.uri }}</li>
                            {% endif %}
                            <li class="list-group-item">Update?: {{ dataset.keep_up_to_date }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}

        {% else %}

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">No datasets found.  Add datasets using the Admin link above.</a></h3>
                        </div>
                    </div>
                </div>
            </div>

        {% endif %}

    </div>
</body>
</html>
